body {
    background-image: url(img/bg.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
}

.underlined {
    padding-bottom: 2px;
    border-width: 0 0 2px 0;
    border-style: solid;
    -webkit-border-image:
        -webkit-linear-gradient(left, orange, red) 100% 1;
    -o-border-image:
        -o-linear-gradient(left, orange, red) 100% 1;
    -moz-border-image:
        -moz-linear-gradient(left, orange, red) 100% 1;
}

.container {
    width: 1100px;
}


header {
    background-color: rgba(0,0,0,0) !important;
    border: none;
    height: 35vh;
}

header > div {
    margin: 0 auto;
    display: inline-block;
}

ul.menu  {
    list-style: none;
    font-weight: bolder;
    margin-left: 15px;
}

ul.menu li {
    display: inline;
    margin: 0 10px;
    font-size: 16px;
}

ul.menu li i {
    margin-right: 5px;
    font-size: 20px;
}



.block2,form{

    margin: 20px;
    padding: 10px;
    width: 300px;
    height:200px;
    padding-top:20px;

    background:rgba(0,0,0,0.3);
    color:#fff;

}

    label {
display: block;
    margin-bottom: 5px;
    margin-top:15px;
}
.half-width {
display: inline-block;
margin-right: -2px;
width: 50%;
}
.half-width input{
background:transparent;
border: 2px solid #fff;
border-radius: 5px;
color:#fff;
padding: 5px 10px;
width: 80%;
}
::-webkit-input-placeholder {
color:#fff;
}
:-moz-placeholder {
color:#fff;
}
input[type="submit"] {
display: inline-block;
margin: 20px 0;
padding: 7px 15px;
width: auto;
height: auto;
border: none;
border-radius: 5px;
background-image: linear-gradient(to bottom,#E58228, #EC3221);
color: #fff;
}
.block2{
margin-top:30PX;
height:auto;
}
.block1 strong{
font-size:20px;
}
p{
font-size:12px;
}
.block2 strong{
font-size:18px;
}






footer {
    border-width: 2px 0 0 0;
    border-style: solid;
    -webkit-border-image:
        -webkit-linear-gradient(left, orange, red) 100% 1;
    -o-border-image:
        -o-linear-gradient(left, orange, red) 100% 1;
    -moz-border-image:
        -moz-linear-gradient(left, orange, red) 100% 1;
    padding: 5px;
}

